<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script src="/statics/libs/jquery.min.js"></script>
    <script src="/statics/libs/vue.min.js"></script>
    <link rel="stylesheet" href="/statics/plugins/element-ui/lib/theme-chalk/index.css">
    <script src="/statics/plugins/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <div class="block" style="width: 30%">

    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
        },
        methods: {
        },
        created: function () {
        },
    });
</script>
</html>
